.leftComponent {
  background-color: #ffffff;
  padding: 10px 20px;
}
/* recent-student-details */
.recent-student{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 15px;
}
.recent-student{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 15px;
}
.recent-student-heading h3{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #303972;
}
.recent-student-heading p{
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;
color: #A098AE;
}
.recent-student-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-student-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 10px;
  background-color: #C1BBEB;
}
.recent-student-icon{
  font-size: 25px;
  color: #4b47b4;
}
.student-names h3{
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;
color: #303972;
width: 134px;
}
.student-names p{
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

}
.student-email{
  width: 48px;
height: 48px;
border-radius: 50%;
border: 2px solid #A098AE;
text-align: center;
padding: 10px 10px;
}
.student-email:hover{
  background-color: #4b47b4;
}
.view-more-button{
width: 312px;
height: 61px;
border-radius: 40px;
background-color: #4D44B51A;
font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
color: #4D44B5;
border: none;
cursor: pointer;
}
